<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- Must be specified and the value of <name> must be referenced in the persistence.xml as <jta-data-source> -->
    <data-source>
        <name>java:global/HomeSpaceDatasource</name>
        <class-name>org.mariadb.jdbc.MariaDbDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>3306</port-number>
        <database-name>homespace</database-name>
        <user>hs</user>
        <password>hs</password>
        <!-- Example of how to use a Payara specific custom connection pool setting -->
        <property>
            <name>fish.payara.sql-trace-listeners</name>
            <value>com.sun.gjc.util.SQLTraceLogger</value>
        </property>
    </data-source>
	
</web-app>
